body {
  margin: 0;
}
/* to exoand the bookshelf 100% when less then a certain width */
@media screen and (max-width: 700px){
    section{
        width: 100%;
    }
}
/* top links to other pages */
.links {
  display: flex;
  /* flex-direction: row; */
  /* margin-left: 0; */
}
/* top left page name */
.liHead {
  list-style: none;
  text-decoration-line: underline;
  /* margin-left: 0px; */
  visibility: visible;
  margin: 0px;
}
/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  background-color: grey;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto; */
}
/* links */
a {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  visibility: visible;
}
a:hover {
  color: blue;
}
ol{
    font-weight: 700;
    font-size: 20px;
}
/* header area affecting the sort buttons */
header {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
/* sorting buttons grouped together to style */
#English,
#German,
#French,
#Finnish,
#allBtn {
  height: 40px;
  width: 80px;
  box-shadow: 2px 2px 3px 0px;
}
/* homepage */
.homepage {
  background-image: url("images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* favPage */
.favpage {
  background-image: url("images/favpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* image that goes next to the book */
img{
    height: 30px;
    width: 30px;
    margin: 0 auto;
    align-self: center;
}
/* bookshelf tried to make it look like bookshelf */
.bookShelfSection{
    border: 10px solid grey;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 3px 0px;
}

.favorites{
    border: 10px solid grey;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 3px 0px;
}
ul {
  font-weight: 900;
  font-size:large;
  border: 10px solid grey;
  margin: 0px;
  background-color:darkgray;
  background-image: url("bookshelf.png");
  background-size:cover; 
  padding-left: 0px;
}
ul.children{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;   
}
li {
  visibility: hidden;
}
.inputForm {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
button {
  border-radius: 10px;
  height: 20px;
  width: 70px;
}
.commentBox {
  height: 15px;
  max-width: 200px;
  margin-left: 20px; 
}
.comment {
  visibility: visible;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 5px;
}
h1 {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}
.otherStuff2{
    border: 5px solid black;  
}
input{
    display: flex;
    align-items: center;
    justify-content: center;
}