body {
  margin: 0;
}
/* top links to other pages */
.links {
  display: flex;
}
/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  align-items: center;
}
/* links */
a {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  visibility: visible;
}
a:hover {
  color: blue;
}
ol {
  font-weight: 700;
  font-size: 20px;
}
/* header area affecting the sort buttons */
header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}
/* sorting buttons grouped together to style */
#English,
#German,
#French,
#Finnish,
#allBtn {
  height: 40px;
  width: 80px;
  box-shadow: 2px 2px 3px 0px;
}
/* homepage */
.homepage {
  background-image: url("images/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* favPage */
.favpage {
  background-image: url("images/favpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* image that goes next to the book */
img {
  height: 30px;
  width: 30px;
}
/* bookshelf tried to make it look like bookshelf */
.bookShelfSection {
  border: 10px solid grey;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 5px 3px 0px;
}
/* favorites section */
.favorites {
  border: 10px solid grey;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 5px 5px 3px 0px;
}
ul {
  font-weight: 900;
  font-size: large;
  border: 10px solid grey;
  margin: 0px;
  background-color: darkgray;
  background-image: url("images/bookshelf.png");
  background-size: cover;
  padding-left: 0px;
}
ul.children {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
}
/* hides the language subject and author to focus on the title and comments */
li {
  visibility: hidden;
}
.inputForm {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
/* comment favorite and add comment btns */
button {
  border-radius: 10px;
  height: 20px;
  width: 70px;
}
.commentBox {
  height: 15px;
  max-width: 200px;
  margin-left: 20px;
}
/* making the comment li visible while the book author and other are invisible */
.comment {
  visibility: visible;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 5px;
}
h1 {
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}
.otherStuff2 {
  border: 5px solid black;
}